body{
    background-color:#c7037c;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:600px;
    
}
.img{
    position:absolute;
    padding-left: 200px;
    margin-top: 200px;
    margin-left: 150px;
    right:0px;
}
h1{  
    position:absolute;
    left:100px;
    top:150px;
    font-family: 'Lobster', cursive;
    color:#fff
}
@media (max-width:1028px) {
    h1{
        position:absolute;
        left:100px;
        top:150px;
        font-family: 'Lobster', cursive;
        color:#fff
    }
    .img{
        position: absolute;
        padding-left: 200px;
        margin-top: 300px;
        margin-left: 150px;
        right:0px;
    }
}
@media (max-width:500px) {
    h1{
        position:absolute;
        left:100px;
        top:150px;
        font-family: 'Lobster', cursive;
        color:#fff
    }

    .img{
        position: absolute;
        padding-left: 200px;
        margin-top: 300px;
        margin-left: 150px;
        right:0px;
    }
} 