body{
    background-color:#c7037c;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:600px;
    position:relative;
}
.img{
    position:absolute;
    margin-top: 100px;
    right:80px;
}
h1{
    margin:0;
    padding:0;
    max-width:50%;
    font-family: 'Lobster', cursive;
    position:absolute;
    left:100px;
    top:150px;
    font-size:50px;
    color:#fff
}
@media (max-width:1028px) {
    h1{
        margin-left: 50px;
        text-align: center;
    }
    .img{
        position: absolute;
        top: 300px;
        margin-top: 300px;
    }
}
@media (max-width:500px) {
    h1{
        margin-left: 50px;
        text-align: center;
    }
    .img{
        position: absolute;
        top: 700px;
        left: 20px;
        width: 90%;
        margin-top: 150px;
    }
}